{{define "Index"}}
{{template "_head"}}
{{template "_menu"}}

<body>
    <div class="container">
        <section class="card">
            <div>
                <table class="table table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>UserStatus</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .}}
                        <tr>
                            <td>{{.UserName}}</td>
                            <td>{{.Email}}</td>
                            <td>{{.Phone}}</td>
                            <td>{{.UserStatus}}</td>
                            
                            <td><a href="/edit?id={{.Id}}" class="btn btn-info">Editar</a></td>         
                            <td><button onclick="onDelete('{{.UserName}}')" type="button" class="btn btn-danger">Deletar</button></td>
                            
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>
        <div class="card-footer pt-3">
            <a href="/new" class="btn btn-primary mb-2">Adiciona novo usuário</a>
        </div>
    </div>
</body>
<script>

    function onDelete(username) {
        let resposta = confirm("Tem certeza que deseja remover o usuário " + username + "?");
        if (resposta) {
            fetch("/user/" + username, {
                method: "DELETE",
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (response.ok) {
                    alert("Usuário removido com sucesso!");
                    window.location.reload();
                } else {
                    alert("Erro ao remover o usuário.");
                }
            })
            .catch(error => {
                console.error("Error:", error);
                alert("Ocorreu um erro ao tentar remover o usuário.");
            });
        }
    }
</script>
</html>
{{end}}