


{{define "User"}}
{{template "_head"}}
{{template "_menu"}}


<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Editando Usuário</h1>
                <p class="lead">Insira os dados para atualizar o usuário</p>
            </div>
        </div>
        
        <!-- Form starts here -->
        <form id="userForm">
            <input type="hidden" id="id" value="{{.Id}}">
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="user_name">Apelido:</label>
                        <input type="text" id="user_name" class="form-control" value="{{ .UserName }}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="first_name">Nome:</label>
                        <input type="text" id="first_name" class="form-control" value="{{ .FirstName }}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="last_name">Sobrenome:</label>
                        <input type="text" id="last_name" class="form-control" step="0.01" value="{{ .LastName }}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" id="email" class="form-control" value="{{ .Email }}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="text" id="password" class="form-control" value="{{ .Password }}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="text" id="phone" class="form-control" value="{{ .Phone }}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="user_status">User status:</label>
                        <input type="number" id="user_status" class="form-control" value="{{ .UserStatus }}">
                    </div>
                </div>
            </div>

            <button type="button" onclick="onUpdate('{{.UserName}}')" class="btn btn-success">Atualizar</button>
            <a class="btn btn-info" href="/">Voltar</a>
        </form>
    </div>

<script src="/static/js/updateUser.js"></script>
</html>
{{end}}